body{
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color:#000000;
  max-width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
  justify-items: center;
  margin: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 1%;
  text-underline-position: under;
  width: 100%;
}

  
.header__links-list-item_no-bullit {
  list-style: none;
  letter-spacing: 0%;
}

.header__logo {
  display: flex-box;
  justify-content: center;
  max-width: 136px;

}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  text-underline-offset: 4px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 1%;
  margin-left: 186px;
}

.header__address {
  list-style: none;
}

.p {
  letter-spacing: 0%;
}

.main {
  display: flex;
  padding: 96px 50px 96px 50px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1100px;
}

.overlay {
  inset: 0;
  position: absolute;
  opacity: 60%;
  background-color: #000000;
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  color: white;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 0.3em;
  line-height: 100%;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
  line-height: 115%;

}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended{
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;






}

