.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 34px;
  width: 100%;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-underline-position: under;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  letter-spacing: 0px;
  text-decoration: none;
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex-box;
  justify-content: center;
  max-width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  width: 100%;
  max-width: 237px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-position: under;
}

.address-link {
  letter-spacing: 0.01em;
}

.address__text {
  letter-spacing: 0em;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, .6);
}

.cover {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
  font-weight: 800;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 115%;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  box-sizing: border-box;
  margin-top: 134px;
}

.cover__description-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  position: relative;
  z-index: 1;
  border: 1px solid #ffffff;
  padding: 12px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 0px 24px;
}

.lots__heading {
  margin-top: 179px;
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 25px;
  height: 100%;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  min-height: 563px;
  background-position: center;
  background-size: cover;
}

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px 40px;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  list-style: none;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.lots__look-more-link {
  box-sizing: border-box;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-underline-position: under;
}

.about {
  grid-template-columns: 1fr 2fr;
  margin: 181px 24px 180px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  gap: 24px;
  min-width: 334px;
  list-style: none;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  display: flex;
  width: 148px;
  height: 114px;
}

.about__content {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: center;
  gap: 24px;
}

.about__title {
  padding-top: 102px;
  padding-bottom: 76px;
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  align-items: start;
  margin: 180px 50px 88px 50px;
}

.footer__address {
  justify-self: flex-start;
}

.footer__menu {
  justify-content: center;
  align-items: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu-list-item {
  display: flex;
  justify-content: center;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-underline-position: under;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 240px;
  list-style: none;
}