body{
  font-weight: 400;
  background-color: #ffffff;
  color:#000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
  margin: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 34px;
  list-style: circle;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-underline-position: under;
  width: 100%;
}


.header__links-list-item_no-bullit {
  list-style: none;
  letter-spacing: 0px;
}

.header__logo {
  display: flex-box;
  justify-content: center;
  max-width: 136px;

}

.address {
  display: flex;
  flex-direction: column;
  max-width: 237px;
  width: 100%;
  text-underline-offset: 4px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  justify-self: flex-end;
}

.header__address {
  list-style: none;
}

.p {
  letter-spacing: 0%;
}

.main {
  display: flex;
  padding: 96px 50px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1100px;
  min-height: 757px;
}

.overlay {
  inset: 0;
  position: absolute;
  opacity: 60%;
  background-color: #000000;
  z-index: 0;

}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 0.3em;
  line-height: 100%;
  text-transform: uppercase;
}

.aligned-text {
  text-align: left;
  line-height: 115%;
}

.aligned-text_center{
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended{
  letter-spacing: 0.6em;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  gap: 78px;
  z-index: 1;
  position: relative;
  margin-top: 134px;
  gap: 80px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  z-index: 1;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 32px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.lots {
  margin-right 24px;
  margin-left: 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 179px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  list-style: none;
  margin-bottom: 30px;
  gap: 25px;
  height: 563px;
}

.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  flex-basis: 334px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.card-link {
 text-decoration: none;
 display: block;
 height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px 40px;
  height: 100%;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  color: #ffffff;
  text-transform: uppercase; 
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 40px;
}
